In [3]:
def kthLargest(s,k):
    unique=[]
    freq={}
    for i in s:
        if i not in freq.keys():
            freq[i]=s.count(i)
    values=sorted(freq.values())
    uniqvalues=[]
    for i in values:
        if i not in uniqvalues:
            uniqvalues.append(i)
    uniqvaluesor=sorted(uniqvalues,reverse=True)
    freqmax=max(uniqvaluesor)
    if (k<len(uniqvaluesor)):
        kvalue=uniqvaluesor[k-1]
    else:
        return -1
    li=[]
    for item in freq.items():
        if item[1]==kvalue:
            li.append(item[0])
    return min(li)
            
    
            
kthLargest([1,2,3,4,3,3,2,2,2,5,4,3,6,7,8],6)

-1

In [2]:
file='DataFiles/k-largest-frequency-input.txt'

In [ ]:
with open (file,'r') as f:
    t=int(input())
    for i in range (t):
        s=input()
        k=int(input())
        print(kthLargest(s,k))

In [6]:
with open(file) as f:
    t=int(f.readline())
    for i in range (t):
        s=f.readline()
        k=int(f.readline())
        print(kthLargest(s,k))

s
g
h
e
w
r
n
k
-1
-1

In [11]:
def kthLowest(s,k):
    unique=[]
    freq={}
    for i in s:
        if i not in freq.keys():
            freq[i]=s.count(i)
    values=sorted(freq.values())
    uniqvalues=[]
    for i in values:
        if i not in uniqvalues:
            uniqvalues.append(i)
    uniqvaluesor=sorted(uniqvalues,reverse=True)
    freqmin=min(uniqvaluesor)
    if (k<len(uniqvaluesor)):
        kvalue=freqmin
    else:
        return -1
    li=[]
    for item in freq.items():
        if item[1]==kvalue:
            li.append(item[0])
    return min(li)
            
    
            
kthLowest([1,2,3,4,3,3,2,2,2,5,4,3,6,7,8],3)

-1

#### that 10 marks question in parctice test

In [27]:
#Function to print all the combinations of given list
#[1,2,3] -->(1,2),(1,3),(2,3)  -->3C2-->3!/((3-2)!*2!)

#[1,2,3,4]  -->1,2,1,3,1,4,2,3,2,4,3,4
def combinations2(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
    return
combinations2([1,2,3,4])

1 2
1 3
1 4
2 3
2 4
3 4

In [28]:
def combinations3(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
combinations3([1,2,3,4])

1 2 3
1 2 4
1 3 4
2 3 4

In [2]:
#[1,2,3]-->[1,2,3]
def differencePairs(li):
    cli=li[:]
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]
li=[1,9,8]
differencePairs(li)

[[1, 9, 8], [1, 9, 8, 7]]

In [6]:
def medium(li,k):
    #li3=[[],li]
    while(True):
        li3=differencePairs(li)
        if li3[0]==li3[1]:
            break
    print(sorted(li3[0],reverse=True)[k-1])
medium([1,3,5,6,7],3)

5

In [ ]:
#another solution for that 10 marks problem
[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]
#convert the list into an
#Arthematic Progression
[3,8]
with open('DataFiles/input','r') as f:
    t=int(f.readline())
    for i in range(t):
        f.readline()
        li=f.readline().split()

In [ ]:
a=[1,2,3]
b=[1,3,2]
a=b.copy()#data copy through indirect referencing
a=b[:] #data through direct referencing

In [64]:
def differentPairs(li):
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return li
li=[3, 6, 9, 12, 2, 1, 4, 7, 10, 5, 8, 11]
differencePairs(li)

[[3, 6, 9, 12, 2, 1, 4, 7, 10, 5, 8, 11],
 [3, 6, 9, 12, 2, 1, 4, 7, 10, 5, 8, 11]]

In [66]:
#Set-Data  Structures in Pyhton
#Represented by '{}'
a={1,2,3,4,5,6,6}
#sets are mutable

In [67]:
a

{1, 2, 3, 4, 5, 6}

In [68]:
a.add(7)

In [69]:
a

{1, 2, 3, 4, 5, 6, 7}

In [71]:
#for list to add append
#to acesses element 
for i in a:
    print(i,end=' ') #acesseing a element

1 2 3 4 5 6 7

In [75]:
a.add(8)

In [76]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [77]:
b={8,9,7}

In [78]:
a.update(b)

In [79]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [80]:
b

{7, 8, 9}

In [81]:
li=[23,2,42,5,2,3234,34,234,234,1235135]

In [82]:
b.update(li)

In [83]:
b

{2, 5, 7, 8, 9, 23, 34, 42, 234, 3234, 1235135}

In [84]:
a.update(b)

In [85]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 23, 34, 42, 234, 3234, 1235135}

In [86]:
a.update(b,li)

In [92]:
b={1,2,'a'}

In [93]:
li=['a','c','f']

In [94]:
a.update(b,li)

In [95]:
a

{1, 1235135, 2, 23, 234, 3, 3234, 34, 4, 42, 5, 6, 7, 8, 9, 'a', 'c', 'f'}

In [97]:
a.discard(1235135)

In [102]:
li=[1,1,2,3]

In [7]:
a.discard(li)

NameError: name 'a' is not defined

In [104]:
a

{1, 2, 23, 234, 3, 3234, 34, 4, 42, 5, 6, 7, 8, 9, 'a', 'c', 'f'}

In [105]:
b

{1, 2, 'a'}

In [106]:
a.union(b)

{1, 2, 23, 234, 3, 3234, 34, 4, 42, 5, 6, 7, 8, 9, 'a', 'c', 'f'}

In [109]:
a.superset(b)

AttributeError: 'set' object has no attribute 'superset'

In [110]:
a={1.3,3.4,10.01}

In [112]:
a.add(19)

In [114]:
a.isdisjoint(b)

True

In [115]:
b.isdisjoint(a)

True

In [120]:
c={'p','Q','P','K',19}

In [121]:
c.isdisjoint(a)

False

In [122]:
a-b #all elements of which are not in b

{1.3, 3.4, 10.01, 19}

In [126]:
a={1,2,3,4,5,6,7,8,9}
b={7,8,9}
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [127]:
a-b

{1, 2, 3, 4, 5, 6}

In [128]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [129]:
b

{7, 8, 9}

In [130]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [131]:
b

{7, 8, 9}

In [132]:
a^b

{1, 2, 3, 4, 5, 6}

In [133]:
b^a

{1, 2, 3, 4, 5, 6}

In [134]:
a.intersection(b)

{7, 8, 9}

In [135]:
sorted(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [140]:
d=set()
for i in range(9,100):
    d.add(i)

In [142]:
d

{9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

In [144]:
li=[1,2,23,43,3,23,3,3,3,3,3,4,45,4,3,2,2,3,3,23,32,3,3,22,3,2,3,2,3,23,2]

In [149]:
u=sorted(set(li),reverse=True)

In [150]:
u

[45, 43, 32, 23, 22, 4, 3, 2, 1]

### functional Programming
#### Procedural:c
- Object Oriented:Java.Python
- Scripting:PHP,Python,Javascript,Shell
- Finctional:Python,Hackshell,Scala

# List Comprehensions

In [151]:
#List of N natural No
n=10
li=[]
for i in range(1,n+1):
    li.append(i)

In [152]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [153]:
li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [163]:
# foram a list to store the cubes of n natural no
li=[i**3 for i in range(1,11)]

In [164]:
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [173]:
#Function to calculate the factorial 
def factorial(n):
    if n==0 or n==1:
        return 1
    return n*factorial(n-1)
#apply list comprehension to calculate factorial of n natural no
#factorial of n natural numbers
n=7
factorialList=[factorial(i) for i in range(1,n+1)]

In [174]:
factorialList

[1, 2, 6, 24, 120, 720, 5040]

In [179]:
# Store cumulative sum of numbers till n list
def cumulative(n):
    summ=0
    for i in range(1,n+1):
        summ+=i
    return summ
n=3
cumulativee=[sum(range(1,i+1)) for i in range(1,n+1)]

In [180]:
cumulativee

[1, 3, 6]

In [194]:
#function to stor only leapyears in given time range
def leap(n):
    if(n%400==0 or(n%4==0 and n%100!=0)):
        return True
    return
lb=1996
ub=2019
leaps=[i for i in range(lb,ub+1)if(i%400==0 or(i%4==0 and i%100!=0))]

In [195]:
leaps

[1996, 2000, 2004, 2008, 2012, 2016]

In [215]:
li=[1,2,3,4,3,2,1]
#unique=[li[i] for i in range(0,len(li)-1) if
[u2]

In [213]:
unique

[4]

### Iterators

- Iterable -Strings,Lists,Tuples,Sets,Dictionaries
- Covering Iterable to Iterator ->
- For Loop:
- Iterator:

In [231]:
it=iter('Python')
for i in ('python'):
    print(it.__next__())

P
y
t
h
o
n

### Generator
- Generator is Function
  - hmm

In [8]:
def generator():
    n=2
    yield n
    n=2**3
    yield n
    n=2**4
    yield n

In [10]:
a=generator()
next(a)

2

In [245]:
d = {list(generator())[0]:1}

In [237]:
generator()

In [246]:
d

{2: 1}

In [266]:
def generators():
    n=2
    while True:
        n**=3
        yield n
a=generators()

In [ ]:
next(a)

In [8]:
def ranger(sv,ev):
    
     while (ev>=sv):
            yield sv
            sv+=1

In [9]:

a=ranger(1,10)

In [10]:
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [258]:
next(a)

2417851639229258349412352

In [1]:
#absolute difference summm