In [32]:
#10 marks answer
n=int(input())
for i in range(0,n):
    s=input()
    s=s.split()
    li=[]
    for i in s:
        li.append(i)
    print(URL(li))

1
isva siva siva siva reddy reddy reddy reddyv i dont know i dont know i dont know know know know
['know', 'siva', 'reddy', 'i', 'dont', 'isva', 'reddyv']

In [31]:
def URL(url):
    uniq=[]
    dec={}
    damp=[]
    for i in url:
        if i not in uniq:
            uniq.append(i)
    for i in uniq:
        dec[i]=url.count(i)
    freq=dec.values()
    uniqv=[]
    
    for i in freq:
        if i not in uniqv:
            uniqv.append(i)
    unisor=sorted(uniqv,reverse=True)
    for i in unisor:
        for item in dec.items():
            if(item[1]==i):
                damp.append(item[0])
    
    return (damp)

In [ ]:

#comparehensions
keyfile='DataFiles/key.txt'
key=dicttionaryKeyFile(keyfile)
evenkeys={item for item in key.items if int(item[0])%2==0}
evenkeys  #foe acessessing even values in keys

In [33]:
import numpy as np
M=np.ones((3,3))

print(M)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [36]:
import timeit
st=timeit.default_timer()
decryptMarksData(encryptedfile,keyfile)
print(timeit.default_timer()-st)

NameError: name 'decryptMarksData' is not defined

In [ ]:
#Vectorised vs unvectorised implementation
#vectorised implemanetation
#matrix.flatten
#matrix.reshape
#matrix.t will return transpose
#

### Pandas
- Data Cleaning
- Data Transformation
- Data Analysis
#### Notations
- Series
- DataFrames

In [41]:
import pandas as pd
internal1={'s1':21,'s2':18,'s3':24}
internal1=pd.Series(internal1)
internal1
internal2={'s1':15,'s2':18,'s3':23}
internal2=pd.Series(internal2)
internal2

s1    15
s2    18
s3    23
dtype: int64

In [44]:
final={'Internal1':internal1,'Internal2':internal2}
final=pd.DataFrame(final)
final
#finall all about is to print them in a table

s1    21
s2    18
s3    24
Name: Internal1, dtype: int64

In [46]:
final['Internal1']

s1    21
s2    18
s3    24
Name: Internal1, dtype: int64

In [48]:
final.columns #names of all columns

Index(['Internal1', 'Internal2'], dtype='object')

In [49]:
final.values #names of rows

array([[21, 15],
       [18, 18],
       [24, 23]], dtype=int64)

In [50]:
final.values[2] #retruns an array

array([24, 23], dtype=int64)

In [51]:
final.values[2,0] #returns only value

24

In [52]:
final.values[2][0] #may use this one also

24

In [53]:
for row in final.values:
    print('Internal1 -',row[0],'Internal1')

Internal1 - 21 Internal1
Internal1 - 18 Internal1
Internal1 - 24 Internal1

In [56]:
final.loc['s4']=[15,18]
final
#for adding new data

    Internal1  Internal2
s1         21         15
s2         18         18
s3         24         23
3          15         18
s4         15         18

In [57]:
final.drop(3)#deleteing data

    Internal1  Internal2
s1         21         15
s2         18         18
s3         24         23
s4         15         18

In [58]:
final.values[2]=[12,25]

In [59]:
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         12         25
3          15         18
s4         15         18

In [60]:
final.drop(3)

    Internal1  Internal2
s1         21         15
s2         18         18
s3         12         25
s4         15         18

In [62]:
final=final.drop(3) #by this only it will work

In [63]:
final

    Internal1  Internal2
s1         21         15
s2         18         18
s3         12         25
s4         15         18

In [64]:
import pandas as pd
#reading csv file data
filepath='DataFiles/Income.csv'
incomedf=pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [67]:
#extarct income of all states in 2013
#Califonia
for row in incomedf.values:
    print(row[1],':',row[-1])

Alabama : 41381
Alaska : 61137
Arizona : 50602
Arkansas : 39919
California : 57528

In [70]:
#Average income of Arizona
sum=0
for i in range(2,11):
    sum+=incomedf.values[2][i]
print(sum/len(incomedf.values[2][2:]))

47214.77777777778

In [71]:
#Average income of all states in year 2012
sum=0
for row in incomedf.values:
    sum+=row[-2]
sum/len(incomedf.values)

50038.8