In [11]:
#that 10 marks question answer
s=input().split()
d={}
for i in set(s):
    c=s.count(i)
    if c in d:
        d[c].append(i)
    else:
        d[c]=[i]
d2=sorted(d.items(),reverse=True)
#print (d2)
for i,j in d2:
    #print(i,j)
    if len(j)==1:
        print(j[0])
    else:
        li = j[:]
        li.sort()
        for i in li:
            print(i)

https://www.google.com https://www.hackerearth.com http://www.wikipedia.com
http://www.wikipedia.com
https://www.google.com
https://www.hackerearth.com

In [21]:
def cube(n):
    cube=n**3
    return(cube)
li=[1,2,3,4,5,6,7,8,9]
list(map(cube,li))
#map(function,values) which maps all the values

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [22]:
li=['1','2','3','4','5','6']
list(map(int,li))

[1, 2, 3, 4, 5, 6]

In [23]:
#Filter Function
def isPrime(n):
    if(n==2):
        return True
    for i in range(2,n):
        if (n%i)==0:
            return False
        else:
            return True
li=[i for i in range (0,100)]
list(filter(isPrime,li))

[2,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [27]:
def id(n):
    if n%2==0:
        return True
    else:
        return False
li=[i for i in range(0,100)]
list(filter(id,li))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [28]:
#generagte keyfile
keyfile='DataFiles/ki.txt'
def generation(keypath):
    with open(keypath,'w')as f:
        for i in range(0,10):
            if(i<6):
                f.write(str(i)+' '+str(i+4)+'\n')
            else:
                f.write(str(i)+' '+str(i-6)+'\n')
    return
generation(keyfile)

In [29]:
#from key file to dictoinary
keyfile='DataFiles/ki.txt'
def retriving(keyfile):
    with open(keyfile,'r')as f:
        key={}
        for line in f:
            line=line.split()
            key[line[0]]=line[1]
    return key
retriving(keyfile)

{'0': '4',
 '1': '5',
 '2': '6',
 '3': '7',
 '4': '8',
 '5': '9',
 '6': '0',
 '7': '1',
 '8': '2',
 '9': '3'}

In [31]:

#combinations
def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
    return
combinations([1,2,3,4,5,6])

1 2
1 3
1 4
1 5
1 6
2 3
2 4
2 5
2 6
3 4
3 5
3 6
4 5
4 6
5 6

In [38]:

#difference pairs
def differencePairs(li):
    cli=li[:]
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return(li,cli)
differencePairs([1,3,5,6,7])

([1, 3, 5, 6, 7, 2, 4], [1, 3, 5, 6, 7])