### Python library for data analysis
### Pandas -Data Analysis
- Series

In [1]:
#Function to Read CSV data into a Data frame
#return the data frame object
filepath='DataFiles/Income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)


readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [5]:
incomedf=readCSVdata(filepath)
#Function to print all coloumns in a single line
#GEOID State 2005 2006 2007 2008 2009 2010 
def printDataFrameColumns(df):
    columns=df.columns
    for i in columns:
        print(i,end=' ')
    return
printDataFrameColumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [7]:
#Fuction to acess a row based on unique row value
def accessDataFrameRow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
    return
accessDataFrameRow(incomedf,'04000US02')

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [18]:
#acesseing a unique value based on row,column information
#income of state in given year
def valueFromRowColumn(df,rowkey,columnkey):
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]==rowkey:
            rowindex=i
    for i in range(len(df.coloumns)):
        if df.columns[i]==columnkey:
            columnindex=i
    return columnindex
valueFromRowColumn(incomedf,'California','2009')

AttributeError: 'DataFrame' object has no attribute 'coloumns'

In [9]:
incomedf.index

0

In [22]:
def getRowIndex(df,rowkey):
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]==rowkey:
            rowindex=i
    return rowindex
def getcolumnIndex(df,columnkey):
    for i in range (len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    return columnindex

In [23]:
#Function to update data based on rowkey and column data
def updateDataFromRowColumn(df,rowkey,column,newdata):
    rowindex=getRowIndex(df,roekey)
    columnindex=getColumnIndex(df,columnkey)
    df.loc[rowindex][columnindex]=newdata
    return
updateDataFromRowColumn(incomedf,'Arizona','2007','1234')

NameError: name 'roekey' is not defined

In [ ]:
#function to delete row to data to data
def deleteRowDataDataFrame(df,rowkey):
    rowindex=getRowIndex[rowkey]
    df.drop[rowindex]
    return