## My Practise

In [20]:
def isprime(num):
    if num ==2:
        return True
    for i in range(2,num):
        if num%i == 0:
            return False
    return True

isprime(1)

True

In [47]:
n = list(map(int, input().split()))
allcount = len([x for x in range(n[0], n[1]+1)])
allcount

5 10

6

In [1]:
n = list(map(int, input().split()))
count = [x for x in range(n[0], n[1]+1) if all(x % y != 0 for y in range(2, x))]
print(len(count))

5 10
2

In [ ]:
def pairs(data):
    prime_count = len([x for x in range(data[0], data[1]+1) if all(x % y != 0 for y in range(2, x))])
    allcount = (data[1] - data[0])+1
    print(prime_count * (allcount - prime_count))
            
    
    
for i in range(int(input())):
    data = list(map(int, input().split()))
    pairs(data)

In [ ]:
    
def pairs(data):
    prime_count = 0
    composite_count = 0
    for i in range(lb,ub+1):
        if isprime(i):
            prime_count += 1
        else:
            composite_count += 1
            
    if lb == ub:
        print(0)
    else:
        print(prime_count * composite_count)
            
    
    
for i in range(int(input())):
    data = list(map(int, input().split()))
    lb = data[0]
    ub = data[1]
    pairs(data)

# Tasks

In [1]:
#Function to read CSV data into a dataFrame

filepath = 'DataFiles/Income.csv'
import pandas as pd

def readCSVdata(filepath):
    return pd.read_csv(filepath)

readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [2]:
incomedf = readCSVdata(filepath)

In [3]:
l =[incomedf.values[0][2:]]

In [4]:
for i in l:
    print(i,sum(i))

[37150 37952 42212 44476 39980 40933 42590 43464 41381] 370138

In [5]:
def getColumnIndex(df, columnkey):
    for i in range(len(df.columns)):
        if df.columns[i] ==columnkey:
            columnindex = i
            #print(type(i))
    return columnindex
getColumnIndex(incomedf, '2009')

6

In [6]:
def getRowIndex(df, rowkey):
    for i in range(len(df.values)):
        if df.values[i][0] == rowkey or df.values[i][1] ==rowkey:
            rowindex = i
    return rowindex
getRowIndex(incomedf, 'Alaska')

1

## Average Income of all states from 2005 to 2013

In [7]:
def averageofStatesWithoutBoundary(df):
    count = 0
    Total = 0
    for i in range(len(df.values)):
        for j in range(2,len(df.columns)):
            Total+=df.values[i][j]
            count+=1
    print(Total,count,Total//count)
    
averageofStatesWithoutBoundary(incomedf)

2183644 45 48525

In [8]:
def averageofStatesWithBoundary(df,lb,up):
    count = 0
    Total = 0
    for i in range(0, len(df.values)):
        for j in range(lb,up):
            Total+=df.values[i][j]
            count+=1
        print(df.values[i][1], Total, Total//count)
    #print(Total,count,Total//count)
    
averageofStatesWithBoundary(incomedf,getColumnIndex(incomedf, '2011'),getColumnIndex(incomedf, '2013'))

Alabama 86054 43027
Alaska 207133 51783
Arizona 302798 50466
Arkansas 383118 47889
California 493505 49350

## State with highest average income in the last three years

In [9]:
def highestAverageSate(df,lb,up):
    c=0
    s=0
    state = []
    avg = []
    for i in range(len(df.values)):
        for j in range(lb, up+1):
            s +=df.values[i][j]
            c +=1
        state.append(df.values[i][1]), avg.append(s//c)
    print(state,avg)
    print(state[avg.index(max(avg))])
highestAverageSate(incomedf,getColumnIndex(incomedf, '2011'),getColumnIndex(incomedf, '2013'))

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California'] [42478, 51608, 50657, 48013, 49604]
Alaska

## State with lowest average income from 2007 to 2010(inclusive)

In [10]:
def lowestAverageState(df,start,end):
    c,s = 0,0
    lb = getColumnIndex(df,start)
    ub = getColumnIndex(df, end)
    state =[]
    avg =[]
    for i in range(len(df.values)):
        for j in range(lb, ub+1):
            s += df.values[i][j]
            c += 1
        state.append(df.values[i][1]),avg.append(s//c)
    print(state, avg)
    print(state[avg.index(min(avg))])

lowestAverageState(incomedf, '2007', '2010')

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California'] [41900, 51754, 50066, 47269, 48973]
Alabama

## Print the list of all states in the same line with average income less than California

In [11]:
def avglessthanCalifornia(df):
    c,s = 0,0
    state ={}
    li = []
    for i in range(len(df.values)):
        for j in range(2, len(df.columns)):
            s += df.values[i][j]
            c += 1
        state[s//c] = df.values[i][1]
    print(state)
    state_sort = sorted(state.items())
    print(state_sort)
    for v in state_sort:
        if v[1]=="California":
            break
        else:
            li.append(v[1])
    print(li)
    
avglessthanCalifornia(incomedf)

{41126: 'Alabama', 50616: 'Alaska', 49482: 'Arizona', 46819: 'Arkansas', 48525: 'California'}
[(41126, 'Alabama'), (46819, 'Arkansas'), (48525, 'California'), (49482, 'Arizona'), (50616, 'Alaska')]
['Alabama', 'Arkansas']

## Print the names of states based on descending order of income in the year 2009

In [12]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [13]:
def descending(df, key):
    year = getColumnIndex(df, key)
    s ={}
    for i in range(len(df.values)):
        val = df.values[i][year]
        s[df.values[i][1]] = val
    print(s,val)
    

descending(incomedf, '2007')

{'Alabama': 42212, 'Alaska': 62993, 'Arizona': 47215, 'Arkansas': 40795, 'California': 55734} 55734

## State with the lowest recorded income from 2005 to 2013

In [14]:
def lowestincome(df):
    d = {}
    for i in df.values:
        f= i[2:]
        print(f)
        min_f = min(f)
        d[min_f] = i[1]
    s=min(d.items())
    print(s[1])
            
lowestincome(incomedf)

[37150 37952 42212 44476 39980 40933 42590 43464 41381]
[55891 56418 62993 63989 61604 57848 57431 63648 61137]
[45245 46657 47215 46914 45739 46896 48621 47044 50602]
[36658 37057 40795 39586 36538 38587 41302 39018 39919]
[51755 55319 55734 57014 56134 54283 53367 57020 57528]
Arkansas